 .chat-message-profile{
    width: 45px;
    height: 45px;
    }

  .chat-message-contents {
    background-color: rgb(238, 238, 238);
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    overflow-wrap: break-word;
    }

    .chat-message-container-user {
    justify-content: right;
    }
    .chat-message-container-user, .chat-message-container-robot {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    }

    .chat-message-time {
    font-size: 14px;
    color: rgb(125, 125, 125);
    margin-top: 5px;
    }